body {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  color: rgb(248, 248, 23);
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
}
button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  opacity: 0.9;
  width: 400px;
  height: 450px;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: brown;
  opacity: 0.9;

  width: 400px;
  height: 450px;
  position: relative;
}
.clock {
  /* background-color: rebeccapurple; */
  display: inline;
  position: relative;

  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  color: #438c43;
}
.clock-outline {
  width: 5rem;
  height: 5rem;
  border: 20px solid rgb(176, 231, 46);
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  border-radius: 5px;
}
.second-hand {
  width: 50px;
  left: -10px;
  height: 2px;
  z-index: 1;
}
.min-hand {
  width: 50px;
  left: -10px;
  z-index: 2;
  background-color: seagreen;
}
.hour-hand {
  width: 40px;

  z-index: 3;
  background-color: red;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inputName {
  width: 200px;
  height: 30px;
  border: 4px solid #2f4f28;
  border-radius: 5px;
  outline: none;
  font-family: "Black Han Sans", sans-serif;
  text-align: center;
}
label {
  font-family: "Luckiest Guy", cursive;
  font-size: 30px;
  color: #7a4e37;
}
.form,
.gretting {
  display: none;
}

.showing {
  display: flex;
}
.showingName {
  display: block;
}
.showName {
  color: #c97e1d;
  font-size: 30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 100;
}
.toDoList {
  display: flex;
  height: 300px;
}
.pending,
.finished {
  width: 200px;
  text-align: center;
  overflow-y: auto;
}
.pending {
  border-right: 1px solid wheat;
  border-bottom: 1px solid wheat;
  border-top: 1px solid wheat;
}
.finished {
  border-bottom: 1px solid wheat;
  border-top: 1px solid wheat;
}
.input_todo {
  outline: none;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  background-color: teal;
}
.weather {
  margin-top: 30px;
  background-color: #f7c481;
  font-family: "Black Han Sans", sans-serif;
  padding: 10px;
  border-radius: 10px;
}
.weather_container {
}
.todo_form {
  font-family: "Black Han Sans", sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 3s linear;
}
